<nav class="blue darken-2">
    <div class="nav-wrapper">
        <a routerLink="/principal" class="brand-logo">Smartnote</a>
        <a routerLink="/principal"><i class="material-icons" style="left: 10px; position: absolute;">arrow_back_ios</i></a>
    </div>
</nav>

<div>
    <div class="row">
        <div class="col s12 m12">

            <div class="row">
                <div class="container">
                    <h4 class="center">{{item.nome}}</h4>
                    <h5 style="float: right">{{itemCat?.nome}}</h5>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col s12">
                    <ul class="tabs">
                        <li class="tab col s3"><a href="#test1">Imagens</a></li>
                        <li class="tab col s3"><a class="active" href="#test2">Texto</a></li>
                        <li class="tab col s3"><a href="#test3">Áudios</a></li>
                    </ul>
                </div>

                <div id="test1" class="col s12">

                    <div class="row">
                        <div class="container">
                            <div *ngFor="let image of item.imagens">
                                <img class="materialboxed col s6" data-caption="" [src]="image">
                            </div>
                        </div>
                    </div>

                </div>

                <div id="test2" class="col s12">
                    <div class="row">
                        <div class="container">
                            <p style="text-align:justify">
                                {{ item.texto }}
                            </p>
                        </div>
                    </div>
                </div>

                <div id="test3" class="col s12">

                    <h5 style="text-align: center;">Em breve!</h5>

                </div>

            <!-- <div class="row">
                <div class="container">
                    <p style="text-align:justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est quam, tempus tincidunt orci sed, egestas blandit dolor. Praesent tincidunt sem justo, vel cursus justo rutrum vel. Praesent tempus ex ut tristique dictum. Vivamus auctor molestie ipsum eu semper. Maecenas mattis suscipit enim at fermentum. Integer pretium diam eget porta lobortis. Nullam quis ligula et magna sagittis varius ac eu leo. Vivamus sem eros, volutpat sit amet dolor nec, dictum ultrices eros. Maecenas quis arcu ipsum. Curabitur vestibulum erat est, vitae ultrices ante luctus et. Ut lacinia dui sed felis faucibus, vel pretium urna varius.</p>
                </div>
            </div> -->

        </div>
    </div>
</div>
