/* Projeto */
body
{
    font: 'San Francisco', Helvetica, Arial, san-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main
{
    flex: 1 0 auto;
}

/* Tela Login */
.btn-login
{
    width: 95% !important;
}

.link-forgotPassword
{
    padding-right: 10px;
}