<nav class="blue darken-2">
    <div class="nav-wrapper">
        <a routerLink="/principal" class="brand-logo">Smartnote</a>
        <a routerLink="/principal"><i class="material-icons" style="left: 10px; position: absolute;">arrow_back_ios</i></a>
    </div>
</nav>

<div>
    <div class="row">
        <div class="col s12 m12">
            <h5>Matérias</h5>
        </div>
    </div>
</div>

<!-- ultimas matérias -->
<div>
    
    <div class="row">

        <div class="col s6 m2" *ngFor="let categoria of list">
            <div class="card" >
                <!-- <span>{{ categoria.id }}</span> -->

                <a routerLink="/principal/categoria/">
                    <div class="card-image">
                        <img src="https://library.harvard.edu/sites/default/files/styles/carousel_1200_x_900/public/poets_blue.jpg?itok=jxricHTp">
                        <span class="card-title">{{ categoria.nome }}</span>
                    </div>
                </a>

                <a routerLink="/principal/anotacao/add" style="position: absolute; bottom: 50px;" class="btn-floating halfway-fab waves-effect waves-light blue accent-1">
                    <i class="material-icons">add</i>
                </a>

                <div class="card-content">
                    <p>{{categoria.professor}}</p>
                </div>
            </div>
        </div>

    </div>

</div>

<!-- Floating button -->
<div class="fixed-action-btn">
    <a routerLink="/principal/categoria/add" class="btn-floating btn-large blue accent-1">
        <i class="large material-icons">add</i>
    </a>
</div>