<nav class="blue darken-2">
    <div class="nav-wrapper">
        <a routerLink="/principal" class="brand-logo">Smartnote</a>
        <a routerLink="/principal/categoria/lista"><i class="material-icons" style="left: 10px; position: absolute;">arrow_back_ios</i></a>
    </div>
</nav>

<div>
    <div class="row">
        <div class="parallax-container">
            <div class="parallax"><img style="opacity: 1;" src="https://library.harvard.edu/sites/default/files/styles/carousel_1200_x_900/public/poets_blue.jpg?itok=jxricHTp"></div>
        </div>
        <div class="col s12 m12">
            <h5>{{ item?.nome }}</h5>
            <p>{{item?.professor}}</p>
        </div>
    </div>
</div>

<!-- lista de anotações -->
<div>
    <ul class="collection">

      <li class="collection-item avatar" style="min-height: 55px !important;" *ngFor="let anotacao of itemsAnotacoes">
        <a routerLink="/principal/anotacao/{{ anotacao?.id}}">
            <img src="assets/img/note.png" style="position:absolute; left:0px; top:5px">
            <span class="title">{{ anotacao?.nome }}</span>
            <a routerLink="/principal/anotacao/{{ anotacao?.id}}" class="secondary-content" style="color:#82b1ff"><i class="material-icons">share</i></a>
        </a>
      </li>

    </ul>
</div>

<br>
<br>
<br>

<!-- Floating button -->
<div class="fixed-action-btn">
    <a routerLink="/principal/anotacao/add" class="btn-floating btn-large blue accent-1">
        <i class="large material-icons">add</i>
    </a>
</div>
