
<nav class="blue darken-2">
    <div class="nav-wrapper">
        <p class="brand-logo">Smartnote</p>
    </div>
</nav>

<div>
    <div class="row">
        <div class="col s12 m12">
            <h5>
                Últimas matérias
                <a routerLink="/principal/categoria/lista" style="float: right; font-size: 18px;">Todas matérias</a>
            </h5>
        </div>
    </div>
</div>

<!-- ultimas matérias -->
<div>
    <div class="row">

        <div class="col s6 m2" *ngFor="let categoria of listCategorias | slice:0:2">
            <div class="card" >
                <!-- <span>{{ categoria.id }}</span> -->

                <a routerLink="/principal/categoria/">
                    <div class="card-image">
                        <img src="https://library.harvard.edu/sites/default/files/styles/carousel_1200_x_900/public/poets_blue.jpg?itok=jxricHTp">
                        <span class="card-title">{{ categoria.nome }}</span>
                    </div>
                </a>

                <a routerLink="/principal/anotacao/add" style="position: absolute; bottom: 50px;" class="btn-floating halfway-fab waves-effect waves-light blue accent-1">
                    <i class="material-icons">add</i>
                </a>

                <div class="card-content">
                    <p>{{categoria.professor}}</p>
                </div>
            </div>
        </div>

    </div>
</div>

<div>
    <div class="row">
        <div class="col s12 m12">
            <h5>
                Últimas anotações
                <a routerLink="/principal/anotacao/lista" style="float: right; font-size: 18px;">Todas anotações</a>
            </h5>
        </div>
    </div>
</div>

<!-- Lista de anotações -->
<div>
    <ul class="collection">
        
        <li class="collection-item avatar" style="min-height: 55px !important;" *ngFor="let anotacao of listAnotacoes">
            <a routerLink="anotacao">
                <img src="assets/img/note.png" style="position:absolute; left:0px; top:5px">
                <span class="title">{{ anotacao.nome }}</span>
                <a routerLink="anotacao" class="secondary-content" style="color:#82b1ff"><i class="material-icons">share</i></a>
            </a>
        </li>

    </ul>
</div>

<!-- Floating button -->
<div class="fixed-action-btn">
    <a routerLink="/principal/anotacao/add" class="btn-floating btn-large blue accent-1">
        <i class="large material-icons">add</i>
    </a>
</div>
