<div class="container" style="margin-top:90px;">
    <div class="row">
        <div class="col s12 m6 offset-m3">
         
            <div class="card-panel z-depth-5">
                
                <h4 class="center">Smartnote</h4>	 
                
                <div class="row">
                        
                    <div class="container">

                        <h5>Faça Login:</h5>
                        <div (click)="loginWithGoogle()" class="google-btn">
                            <div class="google-icon-wrapper">
                                <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
                            </div>
                            <p class="btn-text"><b>Sign in with google</b></p>
                        </div>

                    </div>
                        
                </div><!--row-->
            </div><!--card-->


        </div><!--col-->
    </div><!--row-->
</div><!--container-->